.body-galeri {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background: #fff;
	min-height: 100vh;
}

.section-galeri{
	position: relative;
}

.section-galeri::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#00ff87, #60efff);
	clip-path: circle(30% at right 70%);
	z-index: 0;
}

.section-galeri::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#60efff, #0061ff);
	clip-path: circle(20% at 10% 10%);
	z-index: 0;
}

.container-galeri {
	position: relative;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 40px 0;
}

.container-galeri .card {
	position: relative;
	width: 300px;
	height: 400px;
	background: rgba(255, 255, 255, 0.05);
	margin: 20px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(40px);
}

.container-galeri .card .content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 0.5s;
}

.container-galeri .card:hover .content {
	transform: translateY(-150px);
}

.container-galeri .card .content .imgGalery {
	position: relative;
	width: 150px;
	height: 120px;
	overflow: hidden;
}

.container-galeri .card .content .imgGalery img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container-galeri .card .content .imgLayanan {
	position: relative;
	width: 155px;
	height: 155px;
	overflow: hidden;
}

.container-galeri .card .content .imgLayanan img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container-galeri .card .content .contentBx h3 {
	color: #232849;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	margin: 20px 0 10px;
	line-height: 1.1em;
}

.container-galeri .card .content .contentBx h3 span {
	font-size: 12px;
	font-weight: 300;
	text-transform: initial;
}

.container-galeri .card .sci {
	position: absolute;
	bottom: 50px;
	display: flex;
}

.container-galeri .card .sci li {
	list-style: none;
	margin: 0 10px;
	transform: translateY(40px);
	transition: 0.5s;
	opacity: 0;
}

.container-galeri .card:hover .sci li {
	transform: translateY(0px);
	opacity: 1;
}

.container-galeri .card .sci li a {
	color: #232849;
	font-size: 15px;
}