@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;1,500&display=swap');

.container {
  text-align: center;
  margin: auto;
  margin-top: 250px;
  /* position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);*/
  width: 100%;
  height: 60vh;
}

.container .text1 {
  text-transform: uppercase;
  display: block; 
}

.container .text2 {
  text-transform: uppercase;
  display: block; 
}

.text1 {
  color: #02a9f7;
  overflow: hidden;
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 8px;
  background: rgb(250 250 249);
  position: relative;
  /*   shorthand animation property: name | duration | iteration count */
  /*   animation: text 4s 1; */
  animation-name: text;
  animation-duration: 4s;
  animation-iteration-count: no;
}

.text2 {
  font-size: 25px;
  overflow: hidden;
  color: #f6ca29;
}

.section::before {
	content: '';
  z-index: 20;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#fff95b, #ff930f);
	clip-path: circle(25% at right 70%);
}

.section::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#c6f8ff, #595cff);
  clip-path: circle(14.0% at 5% 45%);
}

@keyframes text {
  0% {
    color: #d4f0fc;
    margin-bottom: -40px;
  }
  30% {
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  85% {
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
  100% {
  }
}

.img-ppid {
  margin-top: 28px;
  background-size: cover; 
  width: 700px;
  height: 400px;
}

.img-kontak {
  width: 200px;
  height: 200px;
  background-size: cover; 
  z-index: 30;
}

.img-sop {
  background-size: cover;
  width: 700px;
  height: 400px;
}

/* HARAM UNTUK DI UBAH!! */
@media only screen and (max-width: 600px) {
  .text1 {
    font-size: 31px;
    letter-spacing: 4px;
  }
  .img-ppid {
    width: 350px;
    height: 220px;
  }
  .img-sop {
    width: 350px;
    height: 220px;
  }

  .section::before {
    content: '';
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#fff, #ffdd60);
    clip-path: circle(25% at 80% 90%);
  }
  
  .section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#d4f0fc, #5FC3E4);
    clip-path: circle(16.0% at -3% 28%);}

  @keyframes text {
    0% {
      color: #d4f0fc;
      margin-bottom: -40px;
    }
    30% {
      letter-spacing: 6px;
      margin-bottom: -30px;
    }
    85% {
      letter-spacing: 3px;
      margin-bottom: -30px;
    }
    100% {
    }
  }
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.container-berita {
  font-family: 'Ubuntu', sans-serif;
}

.container-ppid {
  box-sizing: border-box;
  position: absolute;
  width: 347px;
  height: 54px;
  left: 90px;
  top: 210px;

  border: 1px solid #C0C0C0;
  border-radius: 12px 12px 0px 0px;
}

.h1-ppid {
  width: 63px;
  height: 33px;
  left: 232px;
  top: 220px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 33px;
}